<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EricJeffrey Pastebin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/prettify/r298/prettify.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
    <script>
        var DEBUG = false;

        function goHome() {
            var tar = "http://123.206.16.70:8080/index";
            if (DEBUG === true)
                tar = "http://localhost:8080/index";
            window.location.href = tar;
        }

        window.onload = function () {
            var tar = "http://123.206.16.70:8080/paste";
            if (DEBUG === true)
                tar = "http://localhost:8080/paste";
            var egg = document.getElementById("egg");
            egg.addEventListener('dblclick', function (e) {
                var con = document.getElementById("cont").value;
                e.preventDefault();
                $.post(tar, {"content": con}, function () {
                    window.location.href = "http://localhost:8080/lastPasted";
                });
            });
        };
    </script>
</head>

<body style="font-family: 'Jokerman',cursive">
<div style="margin-left: auto; margin-right: auto; width: 80%">
    <h1 style="margin-left: auto; margin-right: auto; width: 30%" ondblclick="goHome()">EricJeffrey Pastor</h1>
    <form method="POST" action="/paste">
        <table>
            <tr>
                <td id="egg" style="font-size: x-large; font-family: 汉仪力量黑简,fantasy">
                    You are a human, aren't you?
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <textarea rows="25" name="content" id="cont"
                              style="width: 300%; font-family: Consolas,fantasy;box-shadow: 1px 2px 3px lightskyblue"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
                    <input type="submit" value="Paste!">
                    <a href="/lastPasted">&nbsp;LastPasted</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<div style="margin-top: 100px; color: #ffffff;" align="center">
    <span>page views:</span>
    <span th:text="${pv}" id="pvs">1</span>
</div>
</body>

</html>